@import './index.scss';

.react-datepicker-wrapper {
    width: max-content;
}
.react-datepicker__input-container{
    input {
        border: none;
        width: 171px;
        height: 50px;
        border-radius: 3px 0 0 3px;
        padding: 0 0 0 10px;
        box-sizing: border-box;
        }
}

