@import "./variables.scss";

%errors-shared {
    font-family: $main_font;
    color: $red;
    font-size: 11px;
    position: absolute;
    left: 0px;
}
.form-errors {
    @extend %errors-shared;
    bottom: -25px;
}

.edit-form-errors {
    @extend %errors-shared;
    bottom: 18px;
    width: 200px;
}

.test {
    width: 500px;
    position: absolute;
    height: 500px;
    background: red;
}

.review-form-errors {
    color: $red;
    font-family: $main_font;
    font-size: 13px;
    position: static;
}
