$main_font: 'DM Sans', sans-serif;
$border-color: #d2d4d6;
$background-color: #f6f6f6;
$red: #e03744;

%errors_shared {
    font-family: $main_font;
    color: $red;
    font-size: 11px;
    position: absolute;
    left: 0px;
}
.form_errors {
    @extend %errors_shared;
    bottom: -25px;
}

.edit_form_errors {
    @extend %errors_shared;
    bottom: 18px;
    width: 200px;
}

.test {
    width: 500px;
    position: absolute;
    height: 500px;
    background: red;
}
