$main_font: 'DM Sans', sans-serif;
$border-color: #d2d4d6;
$background-color: #f6f6f6;
$red: #e03744;


.form_background {
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
}

%session_form {
    position: fixed;
    width: 360px;
    background-color: $background-color;
    top: 5%;
    left: 40%;
    margin: 0 auto;
}

.login {
    @extend %session_form;
    height: 540px;
}

.signup {
    @extend %session_form;
    height: 840px;
}

.form_header{
    font-family: $main_font;
    font-size: 32px;
    height: 71px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
}

.form_logo_header{
    height: 34px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
}

label {
    font-family: $main_font;
    font-size: 13px;
    position: relative;
}

%form_body {
    background-color: white;
    height: inherit;
    width: 330px;
    margin: 25px auto;
    padding: 15px 20px 10px 32px;
    box-sizing: border-box;
    position: relative;
}

.login_form {
    @extend %form_body;
    height: 365px;
}

.signup_form {
    @extend %form_body;
    height: 665px;
}

.form_body_header {
    margin-bottom: 18px;
}

.session_form_input {
    margin: 5px 5px 23px 0px;
    border: 1px solid $border-color;
    color: gray;
    border-radius: 3px;
    padding: 10px 7px 10px 7px;
    width: 260px;
    font-family: $main_font;
    font-size: 12px;
    box-sizing: border-box;
}

.require {
    color: $red;
    font-family: $main_font;
    font-size: 10px;
}

.session_button {
    background-color: $red;
    color: white;
    font-family: $main_font;
    font-size: 12px;
    border: none;
    width: 260px;
    border-radius: 3px;
    height: 38px;
    cursor: pointer;
}

.demo_button {
    display: inline;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: $main_font;
    color: $red;
    width: 110px;
    padding: 0px;
    font-size: 11px;
    font-weight: 500;
    text-decoration: none;
}

.form_msg {
    font-family: $main_font;
    font-size: 11px;
    line-height: 1.5;
}

%form_buttons {
    position: absolute;
    left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login_buttons {
    @extend %form_buttons;
    top: 200px;
    height: 80px; 
}

.signup_buttons {
    @extend %form_buttons;
    left: 32px;
    height: 105px;
    bottom: 10px;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.x_button {
    position: absolute;
    right: 7px;
    top: 5px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: white;
    padding: none;
    text-shadow: 0px 0px 3px #4d4d4d;
    cursor: pointer;
}