$background-color: #f6f6f6;
$html_greytop: #eff0f2;
$main_font: 'DM Sans', sans-serif;
$red: #e03744;
$border-color: #d2d4d6;
$turquoise: #007492;

html {
    height: 100%;
}

body {
    background-color: $background-color;
    height: 100%;
}

.disable_scroll {
    overflow: hidden;
}

#root {
    height: inherit;
}

.main_index {
    background-color: #ffffff;
    width: 1282px;
    height: inherit;
    margin: 0 auto;
}
//font

h1 {
    font-family: $main_font;
    size: 80px;
}

h2 {
    font-family: $main_font;
    font-size: 32px;
}

h3 {
    font-family: $main_font;
    font-size: 20px;
}

p {
    font-family: $main_font;
    font-size: 10px;
}

// header navbar

header {
    width: 1282px;
    height: 68px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.top_bar {
    background-color: $html_greytop;
    height: 23px;
    width: inherit;
}

.left_navbar {
    display: flex;
    margin-left: 23px;
}

.logo_bar {
    width: 131px;
    height: 29px;
    background-color: transparent;   
    border-right: 1px solid $border-color; 
    margin-right: 10px;
    padding-right: 3px;
}

.location_nav {
    height: 30px;
    line-height: 30px;
}

.right_navbar {
    display: flex;
    margin-right: 24px;
}

.login_button, .signup_button {
    text-decoration: none;
    display: block;
    font-family: $main_font;
    text-align: center;
    font-size: 10px;
    width: 62px;
    height: 28px;
    border-radius: 3px;
    line-height: 28px;
    box-sizing: border-box;
    cursor: pointer;
}

.login_button {
    border: 1px solid $border-color;
    background: white;
    color: grey;
    
}

.signup_button {
    border: 1px solid $turquoise;
    background: $turquoise;
    color: white;
    margin-right: 6px;
}

.search_icon {
    display: block;
    height: 28px;
    width: 30px;
    line-height: 28px;
    text-align: center;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.user_icon {
    display: block;
    height: 30px;
    width: 30px;
    font-size: 20px;
    color: grey;
    line-height: 28px;
    text-align: center;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    display: block;
    height: 28px;
    width: 25px;
    font-size: 16px;
    color: grey;
    line-height: 28px;
    text-align: center;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

//search bar

.main_content {
    width: inherit;
    height: 500px;
}

.search_bar {
    width: inherit;
    height: 332px;
    background-image: asset-url('mainbanner.jpg');
    padding-top: 126px;
    box-sizing: border-box;
}

.search_submit {
    background-color: $red;
    color: white;
    font-family: $main_font;
    font-size: 12px;
    border: none;
    width: 114px;
    margin-top: 10px;
    border-radius: 3px;
    height: 38px;
    cursor: pointer;
}

.slogan {
    font-family: $main_font;
    font-size: 34px;
    color: white;
    margin-bottom: 5px;
}

.dropdown {
    height: 38px;
    width: 127px;
    border: none;
}

.party {
    border-radius: 0px 3px 3px 0px;
    border-left: 1px solid $border-color;
    margin-right: 12px;
    box-sizing: border-box;
}

.time {
    border-left: 1px solid $border-color;
}

.search_date_main {
    height: 38px;
    border-radius: 3px 0px 0px 3px;
    border: 0px ;
    width: 137px;
}

.search_input {
    height: 38px;
    border: none;
    border-radius: 3px;
    width: 232px;
    padding-left: 25px;
    margin-right: 12px;
    font-size: 12px;
    box-sizing: border-box;
}

.font_search {
    position: relative;
}

.font_search i {
    position: absolute;
    left: 5px;
    top: 2px;
}


//footer
footer {
    height: 489px;
    width: inherit;
    background-color: #272d37;
    padding-top: 20px;
}

.footer_row {
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.footer_maintitle {
    font-family: $main_font;
    color: white;
    font-size: 30px;
    margin: 0 auto;
    width: max-content;
}

.footer_title {
    font-family: $main_font;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer_col_left > ul > li, .footer_col_right > ul > li {
    font-family: $main_font;
    color: white;
    font-size: 20px;
    margin: 10px 0;
}

.footer_col_left ul, .footer_col_right ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.footer_col_left {
    width: 50%;
    padding-top: 30px;
    height: 60%;
}

.footer_col_right {
    width: 50%;
    padding-top: 30px;
    border-left: 1px solid grey;
    height: 60%;
}