@import "./variables.scss";

.modify-bg {
    width: 1600px;
    margin: 0 auto;
    height: 300px;
    background-color: white;
    padding-top: 50px;
}

.flex-row-mod {
    width: 700px;
    height: 50px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    font-family: $manrope;
    font-size: 20px;
    line-height: 50px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 50px;
}

.mod {
    font-family: $manrope;
    font-size: 20px;
    width: 700px;
    margin: 0 auto;

    .react-datepicker__input-container{
        .modify-date {
            // border: 1px solid $border-color;
            width: 171px;
            height: 50px;
            border-radius: 3px 0 0 3px;
            padding: 0 0 0 10px;
            box-sizing: border-box;
        }
    }
}

.mod-rest {
    font-size: 25px;
}

.mod-rest-row {
    margin-top: 40px;
    height: 20px;
    margin-bottom: 20px;
}

.modify-form {
    width: 660px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    border-radius: 3px;
    height: 55px;
    box-shadow: 0px 0px 10px 2px #b6b6b6;
    padding-left: 10px;

        input {
            height: 50px;
            border-radius: 3px;
            // border: 1px solid $border-color;
            border: none;
        }
}

.mod-details {
    margin-right: 10px;
}

.mod-bg {
    height: 500px;
    width: 1600px;
}