@import './index.scss';

//restaurant show page
.rest_index {
    // position: relative;
    height: max-content;
}

.rest_header {
    width: inherit;
    height: 490px;
    background-color: grey;
}

.rest_body {
    width: 100%;
    position: relative;
    height: 800px;
    background-color: transparent;
    // margin-left: 302px;
    // bottom: -200px;
}

.main_rest_content {
    width: 642px;
    background-color: white;
    margin-right: 32px;
    position: absolute;
    left: 302px;
    top: -50px;
    font-size: 60px;
    font-family: $manrope;
    padding: 17px;
    box-sizing: border-box;

    .rest-navbar {
        display: flex;
        border-bottom: 1px solid $border-color;
        font-size: 15px;
        color: rgb(80, 80, 80);
        height: 32px;
        margin-bottom: 44px;
    
        .content-button {
            margin-right: 36px;
            padding-bottom: 10px;
            color: black;
        }

        .content-button:hover {
            border-bottom: 2px solid $red;
            color: $red;
        }

        .content-button:active {
            border-bottom: 2px solid $red;
            color: $red;
        }
    }

    .rest-title {
        padding-bottom: 32px;
        height: max-content;
        border-bottom: 1px solid $border-color;
    }

    .rest-info {
        display: flex;
        font-size: 14px;
        align-items: center;
        width: inherit;
        margin-top: 19px;
        margin-bottom: 28px;

        .text {
            margin-left: 9px;
        }
    }

    .rest-icons {
        margin-left: 12px;
        display: flex;
    
    }

    .description {
        font-family: $roboto;
        font-weight: 300;
        font-size: 15px;
        line-height: 1.5;
    }

    .subheader {
        font-size: 25px;
        margin-bottom: 25px;
        margin-top: 25px;
        border-bottom: 1px solid $border-color;
        padding-bottom: 25px;
    }
}



//right sidebar

.right-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -50px;
    right: 302px;
    height: 800px;

    .rsvp-container {
        width: 322px;
        height: 256px;
        background-color: yellow;
    }

    .order-takeout {
        width: 322px;
        height: 231px;
        box-shadow: 5px, 5px, 5px, 5px, grey;
        background-color: hotpink;
        margin-top: 23px;
    }

    .map {
        width: 322px;
        height: 210px;
        border: 1px solid $border-color;
        border-radius: 2px;
        margin-top: 23px;
    }
}






//rest index page

.rest-index-thumbnail {
    width: 237px;
    height: 270px;
    background: white;
    margin-left: 18px;
    border-radius: 3px;
    position: relative;
    border: 1px solid $border-color;
    
        .thumbnail-img {
            height: 132px;
            background-color: grey;
        }
}

.rest-index-thumbnail:first-child {
    margin-left: 0;
}

.rest-index-thumbnail:hover {
    box-shadow: 2px 2px 6px 1px rgb(212, 212, 212);
    transform: translateY(-5px);
    cursor: pointer;
}

.index-row {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    width: 1216px;
    margin-left: 170px;
}

.theme-header {
    height: 109px;
    width: 1216px;
    background-color: white;
    font-size: 28px;
    font-family: $manrope;
    margin-left: 170px;
    padding-top: 56px;
    box-sizing: border-box;
    border-bottom: 1px solid $border-color;
}

.thumbnail-text {
    padding-left: 8px;
    padding-top: 13px;
    padding-bottom: 10px;
}

.stars {
    margin-top: 5px;
}

.thumbnail-detail {
    display: flex;
    justify-content: start;
    font-family: $roboto;
    font-weight: 300;
    font-size: 13px;
    margin-top: 14px;
}

.price {
    margin-left: 5px;
    margin-right: 5px;
}

.button-row {
    width: inherit;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;

    .thumbnail-button {
        width: 70px;
        height: 30px;
        background-color: $red;
        margin-left: 5px;
        border-radius: 3px;
        color: white;
        font-family: $main-font;
        border: none;
        cursor: pointer;
    }

    .thumbnail-button:first-child {
        margin-left: 0;
    }

    .thumbnail-button:hover {
        background-color: rgb(179, 1, 1);
    }
}

