@import './index.scss';

.rest_index {
    position: relative;
}

.rest_header {
    width: inherit;
    height: 490px;
    background-color: grey;
}

.rest_body {
    width: 100%;
    position: absolute;
    height: 300px;
    background-color: transparent;
    margin-left: 243px;
    bottom: -260px;
    display: flex;
}

.main_rest_content {
    width: 513px;
    background-color: purple;
    height: 300px;
    margin-right: 27px;
}


.rsvp_container {
    width: 243px;
    height: 256px;
    background-color: yellow;
}

.rest-index-thumbnail {
    width: 237px;
    height: 270px;
    background: purple;
    margin-left: 18px;
        .thumbnail-img {
            height: 132px;
            background-color: grey;
        }
}

.rest-index-thumbnail:first-child {
    margin-left: 0;
}

.index-row {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.theme-header {
    height: 109px;
    width: 1216px;
    background-color: white;
    font-size: 28px;
    font-family: $manrope;
    margin-left: 170px;
    padding-top: 56px;
    box-sizing: border-box;
    border-bottom: 1px solid $border-color;
}