@import "./variables.scss";

.rest-bookform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 288px;
}

.sticky-rsvp {
    width: 320px;
    height: 303px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px 1px #c4c4c4;

    header {
        width: 288px;
        height: max-content;
        font-family: $main_font;
        font-size:16px;
        padding-bottom: 17px;
        border-bottom: 1px solid $border-color;
        text-align: center;
        margin-bottom: 20px;
    }

    .date-time-container {
        display: flex;
    }

    .react-datepicker__input-container{
        .rest-date-sticky {
            border: none;
            border-bottom: 1px solid $border-color;
            width: 140px;
            margin-bottom: 16px;
            height: 30px;
            padding: none;
            box-sizing: border-box;
            margin-top: 11px;
            box-sizing: border-box;
        }
    }

    .rest-party {
        width: 287px;
        height: 33px;
        border: none;
        border-bottom: 1px solid $border-color;
        margin-bottom: 11px;
        margin-top: 11px;
        box-sizing: border-box;
    }

    .rest-time {
        width: 140px;
        border: none;
        height: 30px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 16px;
        margin-top: 11px;
        margin-left: 10px;
        box-sizing: border-box;
    }

    .sticky-party {
        label {
            font-size: 13px;
        }
    }
    
    .sticky-submit {
        height: 48px;
        width: 288px;
        background-color: $red;
        color: white;
        font-family: $main_font;
        font-size: 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
}

