@import './index.scss';

.reviewer {
    width: 116px;
    height: 170px;
    background-color: white;
    text-align: center;
}

.restaurant {
    width: 130px;
    height: 170px;
    background-color: white;
    text-align: center;
    padding-top: 15px;

    p {
        font-size: 18px;
        font-family: $manrope
    }

    .review-cuisine {
        font-size: 12px;
        font-family: $main_font;
        color: rgb(167, 167, 167);
        margin-top: 10px;
    }
}

.review-content {
    height: 170px;
    width: 482px;
    background-color: white;
    position: relative;

    .stars {
        display: flex;
        padding-top: 10px;
    }

    .review-header {
        display: flex;
        margin: 10px 0 25px 0;
    }

    .rating-cat {
        font-family: $main_font;
        font-size: 13px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .rating-cat:first-child {
        margin-left: 0;
    }

    .rating-value {
        font-family: $roboto;
        font-size: 13px;
        color: $red;
    }

    p {
        font-size: 15px;
        font-family: $roboto;
    }
}

.my-reviews {
    margin: 22px;
}

.icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #e4458a;
    color: white;
    line-height: 48px;
    margin-top: 16px;
    margin-bottom: 11px;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.review-row {
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $border-color;
}

.user-review-row {
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    margin: 30px auto 0 auto;
    width: max-content;
    border-bottom: 1px solid $border-color;
}

.restaurant-link {
    font-family: $manrope;
    font-size: 20px;
}

.review-buttons {
    display: flex;
    font-size: 13px;
    justify-content: end;
    position: absolute;
    bottom: 3px;
    right: 0;

    .review-edit-button, .review-delete-button {
        background-color: $red;
        width: 70px;
        height: 30px;
        border: none;
        color: white;
        border-radius: 3px;
        font-family: $roboto;
        margin-right: 5px;
        cursor: pointer;
    }

    .review-edit-button:hover, .review-delete-button:hover {
        background-color: rgb(136, 1, 1);
        cursor: pointer;
    }
}

.review-form-bg {
        z-index: 20;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);

        .review-form {
            position: absolute;
            height: 400px;
            width: 500px;
            background-color: white;
            top: 30%;
            left: 35%;
            padding: 20px;
            box-sizing: border-box;
            vertical-align: top;

            label {
                font-family: $roboto;
                font-size: 13px;
            }

            .rating-row {
                vertical-align: top;
            }

            select {
                margin-right: 10px;
                margin-left: 5px;
                height: 30px;
                border-radius: 3px;
                width: 45px;
                padding-left: 8px;
                border: 1px solid #d2d4d6;
                font-family: $roboto;
            }

            textarea {
                width: 450px;
                height: 100px;
                border: 1px solid $border-color;
                border-radius: 4px;
                font-family: $main_font;
                color: rgb(61, 61, 61);
                padding: 5px;
            }
        }

        .review-form-header {
            font-family: $main_font;
            font-size: 32px;
            border-bottom: 1px solid $border-color;
            padding-bottom: 20px;
        }

        .review-submit {
            position: absolute;
            bottom: 20px;
            left: 20px;
            background-color: $red;
            width: 70px;
            height: 30px;
            border: none;
            color: white;
            border-radius: 3px;
            font-family: $roboto;
            margin-right: 5px;
            cursor: pointer;
        }

        .red {
            color: $red;
            font-family: $main_font;
        }
}

.edit-review-submit {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: $red;
    width: 70px;
    height: 30px;
    border: none;
    color: white;
    border-radius: 3px;
    font-family: $roboto;
    margin-right: 5px;
    cursor: pointer;
}