$background-color: #f6f6f6;
$html_greytop: #eff0f2;
$main_font: 'DM Sans', sans-serif;
$red: #e03744;
$border-color: #d2d4d6;
$turquoise: #007492;
$roboto: 'Roboto', sans-serif;
$manrope: 'Manrope', sans-serif;

.show_header {
    height: 66px;
    background: white;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    font-family: $main_font;
    font-size: 25px;
    padding-left: 289px;
    padding-top: 17px;
    box-sizing: border-box;
}

.flex_container {
    display: flex;
}

.flex_container .form_section {
    background-color: white;
    // height: 1000px;
    width: 824px;
}

.user_show_main .left {
    background-color: $background-color;
    width: 490px;
    height: 994px;
    font-family: $roboto;
    font-weight: 300;
    font-size: 13px;
    padding-left: 289px;
    padding-top: 37px;
    box-sizing: border-box;
}

.user_show_main .right {
    background-color: $background-color;
    width: 289px;
    height: 994px;
}

.user_show_main {
    height: 1000px;
    width: inherit;
}

.left ul {
    display: flex;
    flex-direction: column;
}

.left a {
    display: block;
    margin-bottom: 24px;
}

.user_row {
    height: 24px;
    width: 824px;
    background-color: $background-color;
}

.edit_form {
    margin-left: 22px;
    margin-top: 23px;
    margin-right: 22px;
}

label {
    font-family: $main_font;
    font-size: 13px;
    position: relative;
}

.form_row {
    display: flex;
    width: 776px;
    justify-content: space-between;
    margin-top: 23px;
}

%form_input_shared {
    border: 1px solid $border-color;
    color: gray;
    border-radius: 3px;
    padding: 10px 7px 10px 7px;
    font-family: $main_font;
    font-size: 12px;
    box-sizing: border-box;
}

.edit_form_input {
    @extend %form_input_shared;
    width: 776px;
    margin-bottom: 18px;
    margin-top: 15px;
}

.form_row .edit_form_input {
    width: 383px;
    margin-top: 15px;
}

.long_submit {
    width: 776px;
    background-color: $red;
    color: white;
    font-family: $main_font;
    font-size: 12px;
    border: none;
    padding: 10px 7px 10px 7px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 30px;
    cursor: pointer;
}